matplotlib
pandas
tensorboard
timm==0.6.7
tqdm==4.59.0
numpy>=1.20
torch==1.9.1
dahuffman==0.4.1
decord==0.6.0
torchvision==0.10.1
pytorch_msssim==0.2.1
imageio==2.23.0
pytorchvideo==0.1.5
Click>=7.0
scikit-learn>=0.23.1
h5py>=3.1.0
opencv-python>=4.4.0.46
wandb
setuptools==58.0.4
tensorflow==2.11.0